{% load cache menu_tags static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
      {% endblock %}
      {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
          {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
      {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}"/>

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    {% cache 1000 nav page.url %}
    <nav class="navbar navbar-toggleable-md {% if page.feature_image_large %}navbar-inverse{% else %}navbar-light bg-faded{% endif %}">
      <div class="container full-width">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
          Home
        </a>
        <div class="collapse navbar-collapse" id="mainMenu">
          {% main_menu %}
        </div>
      </div>
    </nav>
    {% endcache %}

    {% if page.feature_image %}
      {% include 'home/includes/feature_image.html' %}
    {% endif %}

    {% block content %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Overpass:400']
        }
      });
    </script>
    <script async src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
    <script async src="{% static 'tether/dist/js/tether.min.js' %}"></script>
    <script async src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {# Global javascript #}
    <script async type="text/javascript" src="{% static 'js/app.js' %}"></script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>
